@font-face {
  font-family: "Fuse V.2 Display";
  src: url("../../assets/fonts/FuseV.2Display-Book.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Fuse V.2 Display";
  src: url("../../assets/fonts/FuseV.2Display-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Fuse V.2 Display";
  src: url("../../assets/fonts/FuseV.2Display-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Fuse V.2 Display";
  src: url("../../assets/fonts/FuseV.2Display-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Fuse V.2 Text";
  src: url("../../assets/fonts/FuseV.2Text-Book.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Fuse V.2 Text";
  src: url("../../assets/fonts/FuseV.2Text-BookItalic.woff2") format("woff2");
  font-style: italic;
}

p,
button {
  font-family: "Fuse V.2 Display";
  font-weight: 400;
}

button {
  background-color: inherit;
  border-width: 1px;
  color: #131339;
  width: 200px;
  margin-left: 100px;
  margin-bottom: 10px;
}

h4,
h3 {
  font-family: "Fuse V.2 Display";
  font-weight: 800;
}

h1 {
  font-family: "Fuse V.2 Display";
  color: white;
  margin-left: 6vw;
  font-size: 40px;
}
